* {
	padding: 0;
	margin: 0;
}
.game {
	border: 2px solid #eee;
	display: inline-block;
}
ul {
	overflow: hidden;
	white-space: nowrap;
}
li {
	border: 1px solid #eee;
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	list-style-type: none;
	background-color: rgba(63, 72, 222, .9);
	background-size: 100% 100%;
	border-radius: 3px;
}

@media screen and (max-width: 1800px){
	li {
		width: 30px;
		height: 30px;
	}
}
@media screen and (max-width: 1300px){
	li {
		width: 20px;
		height: 20px;
	}
}
.mine {
	background-image: url(../images/mine.jpg);
	animation: bigger 400ms ease 1;
}
.mine_wrong {
	background-image: url(../images/mine_wrong.jpg);
	animation: bigger 400ms ease 1;
}
.mine_right {
	background-image: url(../images/mine_right.jpg);
	animation: bigger 400ms ease 1;
}
.num0 {
	background-color: rgba(255, 255, 255, .9);
}
.num1 {
	background-image: url(../images/1.png);
}
.num2 {
	background-image: url(../images/2.png);
}
.num3 {
	background-image: url(../images/3.png);
}
.num4 {
	background-image: url(../images/4.png);
}
.num5 {
	background-image: url(../images/5.png);
}
.num6 {
	background-image: url(../images/6.png);
}
.num7 {
	background-image: url(../images/7.png);
}
.num8 {
	background-image: url(../images/8.png);
}
.flag {
	background-image: url(../images/flag.jpg);
}
@keyframes bigger {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(.9);
	}
	80% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}
#start {
	margin: 20px;
	background-color: rgba(63, 72, 222, .9);
	width: 82px;
	height: 33px;
	line-height: 33px;
	display: inline-block;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
#start:active {
	transform: translateY(1px);
}
#start.colorful {
	animation: colorful 1s linear infinite;
}
@keyframes colorful {
	0% {
		background-color: rgba(63, 72, 222, .9);
	}
	50% {
		background-color: rgba(122, 188, 255, .9);
	}
	100% {
		background-color: rgba(63, 72, 222, .9);
	}
}
#win {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	display: none;
	transition: 1s ease;
	overflow: hidden;
}
#win.hide {
	transform: scale(0) rotateX(360deg);
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.table-cell img {
	animation: show 300ms ease 1;
}
@keyframes show {
	0% {
		transform: translateY(-1000px);
	}
	90% {
		transform: translateY(30px);
	}
	100% {
		transform: translateY(0px);
	}
}
#loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgb(251,251,251);
}
#loading img{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -120px 0 0 -90px;
}